<div *ngIf="!uploading">
    <li class="collection-item">
        For user: <b> {{user.username}} </b>
        </li>
        
        <li class="collection-item">
          <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file"  (change)="sendFile($event)" >
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" placeholder="Upload bloodwork file"  type="text" >
              </div>
            </div>
        </li>
        
        <li class="collection-item">
          Donation date:
            <form [formGroup]="calendarForm">
                <label for="calendar">Date</label>
                <input id ="calendar" formControlName="calendar" type="text" [(ngModel)]="date" name="datepicker" materialize="pickadate" [materializeParams]="params"/>
              </form>
        </li>
        
        <li class="collection-item">
          <button (click)="uploadFile()" class="btn" style="width: 100%;">
            Send Blood work to {{username}}
          </button>
        </li>        
</div>

<div *ngIf="uploading">
  <div class="row">
    <div class="col s12 center-align  ">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
    </div>
  </div>
</div>