<div class="container-fluid">
  <div class="row" style="height: 100vh">
    <div class="col m6">
      <p *ngIf="username">{{username}}</p>
      <p *ngIf="reservation">{{reservation.date}}  {{getReservationTime(reservation.time)}}</p>
      <p *ngIf="lastLogindate">Last logged in on: {{lastLogindate}}</p>
      <p *ngIf="lastDonationDate">Last donated on: {{lastDonationDate}}</p>
      <p *ngIf="nextDonationDate">Next posible donation on: {{nextDonationDate}}</p>      
      <button type="button" class="btn btn-default" *ngIf="!nextDonationDate" [routerLink]="['/donor-form']" routerLinkActive="router-link-active" >Take the donation form</button>
    </div>
    <div class="col m6" *ngIf="dataLocalUrl">
      <iframe [attr.src]="dataLocalUrl" type="application/pdf" frameborder="0" height="1000" width="1000"></iframe>
    </div>
  </div>
</div>
